* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--pmain);
}

:root {
    --pDark: #222629;
    --pLight: #f5f8f8;
    --sdark: #6a6e71;
    --pmain: rgb(8, 250, 117);

}

.body {
    background-color: var(--pDark);
}

.topcontainer {

    background-color: var(--pDark);
    padding: 1rem;
}

.heading {
    color: var(--pLight);
    text-align: center;
    /* font-size: 2.5rem; */
}

.floater {
    position: sticky;
    top: 29vh;
    left: 90vw;
    padding: 1rem;
    font-size: 1.7rem;

}



.centerr {
    text-align: center;
    padding: .8rem;
    margin-top: 1rem;
    font-size: 1.3rem;

}

.container {
    display: flex;
padding: 1.5rem;
    height: 450px;

}

.box {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
    flex: 50%;
    background-color: var(--pLight);
    font-size: 2rem;
    /* border: 2px solid red; */

}

.leftbox {
    background-color: aqua;
    border-right: 2px solid #333;

}

.rightbox {
    background-color: chocolate;
    border-left: 2px solid #333;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lists {
    text-align: center;
    /* text-decoration: none; */
    padding: .5rem;
    margin: .5rem;
}



.quesbox{
    background-color: var(--pdark);
    color: var(--pDark);
    text-align: center;
    /* margin-top: 3vh; */
    padding: 2rem;
    font-size: 2rem;
}
.containerbottom{
    background-color: var(--pDark);
    padding: 3rem;
    /* min-width: 528px; */
}
.whitebg{
    background-color: var(--pLight);
}



.hide {
    display: none;
}

#resultt {
    background-color: var(--pDark);
    padding: 2rem;
}

.green {
    color: var(--pLight);

}
.correct{
    color: var(--pmain);
}
.wrong {
    color: rgb(238, 216, 20);
}

.btnsBox {
    display: flex;
    /* grid-auto-flow: column; */
    /* align-items: center; */
    justify-content: center;
    flex: 50%;
}

.btn {
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: 4rem;
    background-color: var(--pmain);
    color: var(--pDark);
    border-radius: 1rem;
}

.btn:hover {
    background-color: var(--pLight);
    color: var(--pDark);
}

btn:after {
    background-color: rgb(247, 115, 54)
}

.imagee {
    height: 120px;
    width: 180px;

}

.darks {
    color: var(--pDark);
}

.boldd {
    font-style: bold;
    font-size: 3rem;
}

.lightt {
    color: var(--pLight);
    font-style: italic;
}


/* .foot{
    max-height: 200px;
    background-color: var(--pdark);
    color: var(--pmain);
    border: 2px solid red;
    text-align: center;
    font-size: 2rem;
    padding: 4rem;
} */